<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <script src="cal.js"></script>


    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <h1>BMI Calculator</h1>
        <p>Height in meters please</p>

        <input type="text" id="height">

        <p>Weight in Kiliograms please</p>

        <input type="text" id="weight">

        <button id="btn">Calculate</button>

        <div id="result"></div>
    </div>
</body>

</html>

